.trendingGallery {
  display: grid;
  justify-content: center;
  grid-template-columns: 340px 340px 340px 340px;
  padding: 0;
  margin: 20px auto;
}
.trendingGalleryItem {
  padding: 20px;
}
.trendingGalleryTitle {
  background: rgb(0, 255, 255, 0.8);
  padding: 15px 4px;
  margin: 0;
  box-shadow: 10px 5px 5px rgb(0, 255, 255, 0.5);
  border-left: solid 1px rgb(0, 255, 255);
  border-bottom: solid 1px rgb(0, 255, 255);
  font-size: 18px;
  color: rgb(2, 16, 141);
  text-align: center;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}
.trendingGalleryImg {
  display: block;
  box-shadow: 10px 8px 5px rgb(0, 255, 255, 0.5);
}
.trendingGalleryBtn {
  display: block;
  margin: 20px auto;
  background: rgb(0, 255, 255);
  box-shadow: -1px -1px 9px 6px rgb(0, 255, 255, 0.5);
  border: solid 1px rgb(0, 255, 255);
  border-radius: 5px;
  color: rgb(2, 16, 141);
  text-align: center;
  font-style: italic;
  padding: 15px;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}
.trendingGalleryLink {
  text-decoration: none;
}
