.navigation {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgb(0, 255, 255);
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(2, 16, 141);
}
.activeLink {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(125, 12, 160);
  box-shadow: -1px -1px 9px 6px rgb(149, 102, 15, 0.9);
  border-radius: 5px;
}
.activeLink:focus,
.activeLink:hover {
  box-shadow: -1px -1px 9px 6px rgb(149, 102, 15, 0.9);
}
